@tailwind base;
@tailwind components;
@tailwind utilities;



/* Smooth scroll */
html {
scroll-behavior: smooth;
}

body.dark {
  background: #0f0f0f;
  color: white;
}

/* Glass */
.glass {
background: rgba(255, 255, 255, 0.08);
filter: blur(12px);
border: 1px solid rgba(255, 255, 255, 0.1);
}


/* Neon glow */
.neon {
box-shadow: 0 0 20px var(--accent);
}


/* Custom cursor */
.cursor-dot,
.cursor-outline {
position: fixed;
pointer-events: none;
z-index: 9999;
}


